html {
   background: #fafafa;
   font-family: $fonts-fallback;

   &.fonts-loaded {
      font-family: $fonts-primary, $fonts-fallback;
   }
}

body {
   max-width: $body-width;
   margin: 0 auto;
   padding: 2.5rem 2.5rem 0;
   color: $grey-dark;
   line-height: $line-height;

   @include mob-big {
      padding: 1.5rem 1.5rem 0;
   }
}
