<section class="headline">
   <ol class="headline__text header__text--list">
      <li>Work out, work hard, study, repeat</li>
      <li>???</li>
      <li>Profit</li>
   </ol>
</section>

<section class="section">
   <h2 class="section__name">My story</h2>
   <ul class="section__list">
      <li class="section__item section__item--longtext">
         <p class="section__item__l1">I was lucky enough to get my first job at the age of 16. I started with coding XML layouts for Android apps. Although at that time I had really poor knowledge of what I was doing. Eventually, it all worked out&mdash;I switched from Android to web development and I’m more than happy for that.</p>
         <p class="section__item__l1">As a junior front&ndash;end developer, I began with coding simple landing pages, then proceeded to more complicated ones or ones built on WordPress. After a few years, I started to care more about the development process itself. I discovered great automation tools that make my life easier. These tools slowly dragged me into the world of JavaScript, so I decided to learn React. You may have come across this article&mdash;<a class="link" href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f" target="_blank" rel="noopener">How it feels to learn JavaScript in 2016</a>&mdash;I can confirm that for a newcomer it describes the state of JS pretty accurately.</p>
         <p class="section__item__l1">I found my way through and now I can routinely set up all the bundlers, linters and tools whatsoever. Anyway, over time I realized I was really interested in the phase that precedes coding itself&mdash;UX design, to be specific. I greatly enjoy thinking about how to let users achieve their goals with ease and how to make them happy while using the product.</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Education</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1">Czech Technical University in Prague (2014&ndash;2017)</p>
         <p class="section__item__l2">Faculty of Information Technology</p>
         <p class="section__item__l3">Bachelor programme: Information Systems and Management</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Achieve&shy;ments</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://www.youtube.com/watch?v=vnU9IGt8JU0" target="_blank" rel="noopener">Code in the Dark (Prague, 2016)</a></p>
         <p class="section__item__l2">Finished 3<sup>rd</sup>&ndash;4<sup>th</sup></p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://www.startupjobs.cz/en/test/top20/52/css-junior" target="_blank" rel="noopener">#1 at StartupJobs.cz CSS quiz</a></p>
         <p class="section__item__l2">Since February 2016</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">More to come</p>
         <p class="section__item__l2">Do you want to stand by me?</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Résumé</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://linkedin.com/in/iamhonza/" target="_blank" rel="noopener">See my profile</a></p>
         <p class="section__item__l2">LinkedIn</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="/Jan_Hruby_CV.pdf" target="_blank" rel="noopener">Download</a>
         <p class="section__item__l2">PDF</p></p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Interests</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1">Football</p>
         <p class="section__item__l2">Fan of AC Sparta Praha, TSG 1899 Hoffenheim, Real Madrid CF</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Working out</p>
         <p class="section__item__l2">Future men's physique&mdash;in like 10 years :)</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Table tennis, squash</p>
         <p class="section__item__l2">Been a table tennis coach for a while</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Music</p>
         <p class="section__item__l2">Drum'n'bass, reggae, rap</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Visual art</p>
         <p class="section__item__l2">Bauhaus, Paul Klee, Zaha Hadid</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Literature</p>
         <p class="section__item__l2">Haruki Murakami, Yasutaka Tsutsui, Ladislav Novák, Nassim Nicholas Taleb</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Words to live&nbsp;by</h2>
   <ul class="section__list">
      <li class="section__item">
         <q class="section__item__l1">Focus!</q>
         <p class="section__item__l2">Dwayne &ldquo;The Rock&rdquo; Johnson</p>
      </li>
      <li class="section__item">
         <q class="section__item__l1">There is no secret to success. There is just hard work.</q>
         <p class="section__item__l2"><a class="link" target="_blank" rel="noopener" href="https://medium.com/the-mission/there-is-no-secret-to-success-there-is-just-hard-work-67e3a556a3d3">There is no secret to success. There is just hard work.</a> by Daniel Rodic</p>
      </li>
      <li class="section__item">
         <q class="section__item__l1">If a task comes up&mdash;and that task will take less than 2 minutes&mdash;go ahead and do it immediately.</q>
         <p class="section__item__l2"><a class="link" target="_blank" rel="noopener" href="https://medium.freecodecamp.com/i-hack-time-6d3a32193c9">I hack time</a> by Quincy Larson, <a class="link" target="_blank" rel="noopener" href="https://amazon.com/Getting-Things-Done-Stress-free-Productivity-ebook/dp/B00SHL3V8M">Getting Things Done</a> by David Allen</p>
      </li>
      <li class="section__item">
         <q class="section__item__l1">A &ldquo;once&ndash;in&ndash;a&ndash;lifetime opportunity&rdquo; is irrelevant if it is the wrong opportunity.</q>
         <p class="section__item__l2"><a class="link" target="_blank" rel="noopener" href="https://amazon.com/Good-Great-Some-Companies-Others-ebook/dp/B0058DRUV6">Good to Great</a> by Jim Collins</p>
      </li>
      <li class="section__item">
         <q class="section__item__l1">The first 90 percent of the code accounts for the first 90 percent of the development time. The remaining 10 percent of the code accounts for the other 90 percent of the development time.</q>
         <p class="section__item__l2">Tom Cargill</p>
      </li>
      <li class="section__item">
         <q class="section__item__l1">You have to take the feedback as constructive criticism, not as a personal attack. You are not your work.</q>
         <p class="section__item__l2"><a class="link" target="_blank" rel="noopener" href="https://byrslf.co/shut-up-and-take-the-f-king-note-1bb27b26922c">Shut Up and Take the F**king Note</a> by Ben Noble</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" target="_blank" rel="noopener" href="https://medium.com/@jhruby/highlights">https://medium.com/<wbr>@jhruby/<wbr>highlights</a></p>
         <p class="section__item__l2">My collection of Medium highlights</p>
      </li>
   </ul>
</section>
