<section class="headline">
   <p class="headline__text">Oh no, it looks like you are lost!</p>
   <p class="headline__paragraph">Don't worry, I will be your guide here. First of all, I recommend you going to the <a class="link" href="/" data-navigo>homepage</a>. If that's too mainstream for you, check out <a class="link" href="/work" data-navigo>my work</a>. How does reading <a class="link" href="/about" data-navigo>about me</a> sound to you? If you already know you want to get in touch with me, feel free to <a class="link" href="/contact" data-navigo>leave a message</a>.</p>
</section>
