<section class="headline">
   <p class="headline__text">I make cool designs come alive</p>
</section>

<section class="section">
   <h2 class="section__name">Selected work</h2>
   <ul class="section__list">
       <li class="section__item">
          <p class="section__item__l1">
              MAMApp (<a class="link" href="https://itunes.apple.com/cz/app/mamapp-cz/id1286843029" target="_blank" rel="noopener">iOS</a>,
              <a class="link" href="https://play.google.com/store/apps/details?id=cz.mamapp" target="_blank" rel="noopener">Android</a>)
          </p>
          <p class="section__item__l2">UX design, React Native</p>
          <p class="section__item__l3">May 2017&ndash;December 2017</p>
       </li>
       <li class="section__item">
          <p class="section__item__l1">360AI Dashboard</p>
          <p class="section__item__l2">UX design, React</p>
          <p class="section__item__l3">Semptember 2017&ndash;November 2017</p>
       </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://realpad.eu" target="_blank" rel="noopener">REALPAD</a></p>
         <p class="section__item__l2">HTML, CSS, jQuery, Wordpress</p>
         <p class="section__item__l3">October 2016</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="http://sashakraal.com" target="_blank" rel="noopener">Sasha Kraal</a></p>
         <p class="section__item__l2">HTML, CSS, jQuery, Wordpress</p>
         <p class="section__item__l3">January 2016&ndash;February 2016</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">
             <a class="link" href="http://node5.cz" target="_blank" rel="noopener">NODE5</a>,
             <a class="link" href="https://mig21.cz" target="_blank" rel="noopener">Mig 21</a>
             <span class="section__item__l1__aside">(outdated)</span>
         </p>
         <p class="section__item__l2">HTML, CSS, jQuery, Wordpress</p>
         <p class="section__item__l3">2014&ndash;2015</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">
            <a class="link" href="https://play.google.com/store/apps/details?id=com.modryandel" target="_blank" rel="noopener">Modrý anděl</a>,
            <a class="link" href="https://play.google.com/store/apps/details?id=com.ecm.hypoasistent" target="_blank" rel="noopener">Hypoasistent</a>,
            <a class="link" href="https://play.google.com/store/apps/details?id=com.ecm.realpad" target="_blank" rel="noopener">REALPAD</a>
            <span class="section__item__l1__aside">(outdated)</span>
         </p>
         <p class="section__item__l2">Android XML layouts</p>
         <p class="section__item__l3">2012&ndash;2014</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Skills</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1">React, Redux, Styled Components</p>
         <p class="section__item__l2">Everyday routine</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Webpack, Babel, ESLint, Prettier</p>
         <p class="section__item__l2">Excessive tooling will save you time in the long term</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Jest, Enzyme, Cypress</p>
         <p class="section__item__l2">Do you trust untested code?</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Docker, Jenkins, GitLab CI</p>
         <p class="section__item__l2">Get your code changes deployed to different environments fast</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">Bash, Git, ...</p>
         <p class="section__item__l2">Let's make a script that will take longer to create than doing the task manually</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1">NoSQL, GraphQL, Python</p>
         <p class="section__item__l2">Currently exploring and learning</p>
      </li>
   </ul>
</section>
