<section class="headline">
   <p class="headline__text">I believe in power of working with someone, rather than for them</p>
</section>

<section class="section">
   <h2 class="section__name">Email</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="mailto:hi@iamhonza.com">hi@iamhonza.com</a></p>
         <p class="section__item__l2">Do you have anything to tell me? Let's talk!</p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Social media</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://instagram.com/i_am_honza/" target="_blank" rel="noopener">Instagram</a></p>
         <p class="section__item__l2">I often share some work in progress or just moments from my life</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://open.spotify.com/user/11124235178" target="_blank" rel="noopener">Spotify</a></p>
         <p class="section__item__l2">Listen to my <a class="link" href="https://open.spotify.com/user/11124235178/playlist/6zWlhlk7uVoRrBiSj9ZLjI" target="_blank" rel="noopener">DnB</a>, <a class="link" href="https://open.spotify.com/user/11124235178/playlist/08oJSKGCGCfmkLj9ZxaeI0" target="_blank" rel="noopener">rap</a> or <a class="link" href="https://open.spotify.com/user/11124235178/playlist/0OP40vEsxeT4KR1Sx0fLfk" target="_blank" rel="noopener">chill</a> playlists</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://medium.com/@jhruby" target="_blank" rel="noopener">Medium</a></p>
         <p class="section__item__l2">I’m willing to start publishing on Medium soon</p>
      </li>
   </ul>
</section>
