<section class="headline">
   <p class="headline__text">Hi, my name is Honza. Nice to meet you.</p>
   <p class="headline__paragraph">I am a front&ndash;end web developer from Prague, Czech Republic. I've&nbsp;studied computer science at the Czech Technical University for 3&nbsp;years. Then I decided to explore the world as well as myself and found a job in Amsterdam.</p>
</section>

<section class="section">
   <h2 class="section__name">Résumé</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="https://linkedin.com/in/iamhonza/" target="_blank" rel="noopener">See my profile</a></p>
         <p class="section__item__l2">LinkedIn</p>
      </li>
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="/Jan_Hruby_CV.pdf" target="_blank" rel="noopener">Download</a>
         <p class="section__item__l2">PDF</p></p>
      </li>
   </ul>
</section>

<section class="section">
   <h2 class="section__name">Contact</h2>
   <ul class="section__list">
      <li class="section__item">
         <p class="section__item__l1"><a class="link" href="mailto:hi@iamhonza.com">hi@iamhonza.com</a></p>
         <p class="section__item__l2">Do you have anything to tell me? Let's talk!</p>
      </li>
   </ul>
</section>
