$pc-big: 1440px;
$pc-small: 1280px;
$ipad-land: 1024px;
$ipad-port: 768px;
$mob-big: 568px;
$mob-small: 320px;

$screen-medium: 1000px;
$screen-short: 720px;

@mixin pc-big() {
	@media screen and (min-width: $pc-small) {
		@content;
	}
}

@mixin pc-small() {
	@media screen and (max-width: $pc-small) {
		@content;
	}
}

@mixin ipad-land() {
	@media screen and (max-width: $ipad-land) {
		@content;
	}
}

@mixin ipad-port() {
	@media screen and (max-width: $ipad-port) {
		@content;
	}
}

@mixin mob-big() {
	@media screen and (max-width: $mob-big) {
		@content;
	}
}

@mixin mob-small() {
	@media screen and (max-width: $mob-small) {
		@content;
	}
}

@mixin scr-medium() {
	@media screen and (max-width: $screen-medium) {
		@content;
	}
}

@mixin scr-short() {
	@media screen and (max-height: $screen-short) {
		@content;
	}
}
